@import "./theme.scss";
body{
    background-color: $lightpink;
}
.home_and_dash{
    display: flex;
    align-items: center;
    i{
        font-size: 2rem;
        background-color: #c579ff;
        color: $white;
        padding: 0.8rem ;
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    div{
        h1{
            margin-bottom: 0.5rem;
        }
    }
}
.selecttag{
    margin-top: 1rem;
    select{
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 0.5rem;
    }
    #names{
        margin-right: 0.2rem;
    }
}

header{
    padding: 2rem 1.5rem;
}

.btn{
    text-align: center;
}

/*section*/
.card{
    background-color: $pink;
    padding: 2rem 2rem;
    margin-top: 2rem;
}
.card{
    .row1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    h5,i{
        color: $white;
    }
    h3{
        color: $white;
        margin-top:1.2rem
    }
}


.card2{
    margin-top: 2rem;
    background-color: $blue;
}

/*card 3*/ 
.card3{
    background-color: $green;
}
/*card 3 and card4 white*/ 
.white{
    background-color: $white;
    
}
#columnchart_material{
    padding-top:1rem ;
}

@media screen and (min-width:1024px){
    header{
        padding: 2rem 1.5rem;
    }
    .flex1{
        display: flex;
        justify-content: space-between;
    }
    .grid1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        
    }
    .card{
        border-radius: 0.5rem;
    }
    .grid2{
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-column-gap: 2rem;
    }
    .white{
        h5{
            
                margin-left: 5rem;
            
        }
    }
}

